<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>{% block title %}Linux Syscalls{% endblock %}</title>

    <style>
      .code { font-family: Monospace; }
      .type { font-weight: bold; }
      .name { color: green; }
    </style>
  </head>
  <body>
    {% block content %}{% endblock %}
  </body>
</html>
